<div class="row">

  <div class="col-12 col-lg-12">
    <div class= "text">
      <h2>Please note the following before filling the application form below:</h2>
      <p>1. All client members will need to prove that they have an annual income above 100k at the interview stage.</p>

      <p>2. We will never share any information provided with anyone or any third party under any circumstance.</p>
    </div>
  </div>
</div>
<%= @applies %>
