<div class= "container">

  <div class= "text">
    <h2>Long term live-in companions required in Europe by our very successful intelligent clients.</h2>
  </div>

  <div class= "card">
    <div class= "image">
      <h3>
      <p>1. All members are ID verified and interviewed in person.</p>
      <p>2. No online profiles.</p>
      <p>3. We matchmake for you according to your criteria.</p>
      <br>
      <p>4. No personal information online.</p>
      <p>5. Check out “How We Work” in the menu.</p>
      </h3>
    </div>

    <div class= "home-img">
      <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR16FonxIgJOz8CAwsO5Xxta0lH9Uqsx8IK0Q&usqp=CAU" height="400" width="600">
    </div>
 </div>

  <div class= "text">
    <h3>The best way for suitable companions to live in luxury, with all expenses paid, as well as
        receiving a monthly allowance to compensate them for their time.</h3>
  </div>

  <div class= "image">
  <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQjuiX37lq2i2qVaHY2a12t0gX41QO3gPfMg&usqp=CAU" height="300" width="380">
  <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxFf_FL8Vhfwc9MoJY69pcysr23YpVQfpPMQ&usqp=CAU" height="300" width="380">
  <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREN07bTliEEwHxt88te-wnE3UE5kLrZcyNlg&usqp=CAU" height="300" width="380">
  </div>
</div>
