<div class="text">
  <h2><span data-controller="typed-js"></span></h2>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="">

    </div>
  </div>
  <%# <div class="row"> %>
    <%# <div class="col-12 col-lg-6"> %>
      <%# <div class="card"> %>
        <%# <div class="row"> %>
          <div class="col-12 col-lg-6">
            <div class="text" height="450" width="600">
              <h3>
                <p>1. All members are ID verified and interviewed in person.</p>
                <p>2. No online profiles.</p>
                <p>3. We matchmake for you according to your criteria.</p>
                <p>4. No personal information online.</p>
                <p>5. Check out "How We Work" in the menu.</p>
              </h3>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="image">
              <img class="image" src="https://qph.cf2.quoracdn.net/main-qimg-65941b005684d5a246112e94e1d3c897-lq" height="370" width="600">
            </div>
          </div>
        <%# </div> %>
      <%# </div> %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="text">
        <h3>The best way for suitable companions to live in luxury, with all expenses paid, as well as
            receiving a monthly allowance to compensate them for their time.</h3>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-4">
      <div class="image">
        <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQjuiX37lq2i2qVaHY2a12t0gX41QO3gPfMg&usqp=CAU" height="300" width="380">
        <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxFf_FL8Vhfwc9MoJY69pcysr23YpVQfpPMQ&usqp=CAU" height="300" width="380">
        <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREN07bTliEEwHxt88te-wnE3UE5kLrZcyNlg&usqp=CAU" height="300" width="380">
      </div>
    </div>
  </div>
</div>
