<div class= "container">

    <div class="row">

      <div class="">
        <div class= "image">
          <img class="image" src="https://images.unsplash.com/photo-1592398276785-f636168c02e0?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&dl=we-vibe-toys-vgaiXx0hp44-unsplash.jpg" height="300" width="600">
          <img class="image" src="https://www.developattraction.com/wp-content/uploads/2016/06/art-of-dating-younger-women-and-overcoming-age-difference-in-relationships.jpg" height="300" width="600">
       </div>
      </div>



      <div class="col-12 col-lg-12">
          <div class= "text">
            <h2>How We Work</h2>
            <p>1. Clients and Companions fill out our “Application Form”, and if we believe you are suitable we will contact you
            to organise an interview.</p>
            <p>2. You will get a reply email with a link to our interview calendar, to select a convenient time and location for your
            interview, where we will figure out exactly what type of arrangements you are looking for.</p>
            <p>3. Client members who are accepted will pay a 50 euro monthly membership fee, plus 50 euro for every match
            made to their criteria.</p>
            <p>4. Companions who are accepted will pay a 20 euro monthly membership fee, and no matchmaking fee.</p>
            <p>5. We have a discreet offline database of all members, and can usually find and connect you to who you are
            looking for very fast, whether locally or abroad.</p>
            <p>6. No more painful searching online, or risk of connecting with dubious people. Just relax and enjoy the fun. </p>

          </div>
      </div>

    </div>

</div>
