<div>
  <div class= "text">
  <h2>Our Locations</h2>
    <p>We are a very personal niche team of two people, and we conduct all interviews ourselves.</p>
    <p>We interview 50 clients and 50 companions at a time and match them before we take on anymore
    clients or companions, so that we can deliver a quality personal service to all members.</p>
    <p>Here are our interview locations and dates over the next two months, and you will be able to
    book your interview slot, after filling out the application form:
    2023</p>
    <p>1. Bucharest 20th August to 23rd August.</p>
    <p>2. London 24th to 26th August.</p>
    <p>3. Birmingham 27th to 29th August.</p>
    <p>4. Manchester 30th August to 1st September.</p>
    <p>5. Edinburgh 2nd September to 4th September.</p>
    <p>6. Dublin 5th September to 7th September.</p>
  </div>

   <div class= "images">
    <img class="image" src="https://images.unsplash.com/photo-1656795177267-1b7620a475d7?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&dl=viktor-hesse-6sry2cHGQ3c-unsplash.jpg" height="300" width="600">
    <img class="image" src="https://i.dailymail.co.uk/1s/2019/10/17/14/19837506-7583923-image-a-1_1571318179519.jpg" height="300" width="600">
  </div>

</div>
