<div class= "text">
  <h1>Why should you choose a Long Term Companion?</h1>
  <p>There are many young and fit successful guys in their 40s and 50s who want a life partner, but don’t want a
  “normal” commitment relationship for whatever reason.</p>

  <p>These guys often live an interesting life, and would love the company and support of a young woman, but they
  understand that they would need to replace a young woman’s income, if they expect her to give up her job to be
  with them, and they have no problem doing so.</p>

  <p>Too many decent guys and girls are not living the life that they could be, and are just hobbling along existing
  through life, when there is the potential to make life very interesting again.
  50% of marriages end in divorce in the western world, and another 30% of couples are staying together for all the
  wrong reasons, which means that conventional relationships have a 20% chance of being successful.</p>

  <p>How can we expect different results, if we keep repeating the same rituals?
  We believe that our types of relationships have a much higher chance of long term success, because the client
  doesn’t feel trapped, and the companion knows that they are building up significant independent financial security
  year after year.</p>

  <p>It is also possible that the client could be a woman, and the companion a man, or the client could even be a
  couple and the companion a man, woman, or even another couple. There are many potential arrangements which
  could work very well, and we are here to facilitate all types of relationships for our carefully selected clients and</p>

</div>
