
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .text {
    font-size: 20px;
    border-radius: 20px;
  }


  .image{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    transition: all ease 0.2s;
    margin: 5px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .text {
    font-size: 22px;
    border-radius: 20px;
  }

  .image{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    transition: all ease 0.2s;
    margin: 5px;
  }
}
