nav ul{
  display: flex;
  width: 1000%;
  margin: 0;
  padding: 0;
  list-style: none;
  }

  nav li{
    display: inline-block;
    margin-left: 200px;
    padding-top: 35px;
  }

  nav a{
    color: bisque;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }
   nav ul :hover{
    color: blue;
   }

   .container-fluid{
    display: flex;
    width: 5000%;
    margin: 0;
    background-color: black;
    color: chocolate;
    font-style: italic;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid black;
    border-bottom: 0px;
    align-items: stretch;
    justify-content: space-evenly;
   }

   .header{
      padding-right:0;
      padding-left:0;
      // margin-right:auto;
      margin-left:auto
      // width: 100%;
   }

   nav{
    width: 1000%;

   }

   @media (min-width: 500px) { .header { color:black; }}// will match only screen width >= 500px
   @media (max-width: 768px) { .header { color:black; }}// will match only screen width <= 768px
   @media (min-width: 768px) and (max-width: 990px) { .header { color:black; }} // will match only screen width >= 768px and <= 990px (could be tablets also)
   @media (min-width: 991px) { .header { color:black; }}// match also ipad on landscape mode
   @media (min-width: 1200px) { .header { color:black; }} /* for desktops */
