.card{
  margin-top: 24px;
}

@media (min-width: 1200px) {
  .card{
  margin-left: 360px;
  margin-top: 24px;

  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .card{
    margin-left: 360px;
    margin-top: 24px;

  }
}
