<header>
      <div class="container-fluid">
        <%= image_tag("barry.png", class: "img-responsive", id: "navbar-logo", width: 200, height: 100) %>
        <nav>
          <ul>
          <li><%= link_to "why?", root_path %></li>
          </ul>
        </nav>
    </div>
    </header>
